<h1>CN分析機器 予約システム</h1>
<table class="table">
  <thead>
    <tr>
      <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">使用日</th>
      <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">予約日</th>
      <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">研究室名</th>
      <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">使用者</th>
      <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">サンプル数</th>
      <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">開始時間</th>
      <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">終了時間</th>
      <th>備考</th>
      <th colspan="3" class="col-xs-1 col-ms-1 col-md-1 col-lg-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.start_time.strftime('%Y/%m/%d') %></td>
        <td><%= reservation.updated_at.strftime('%Y/%m/%d') %></td>
        <td><%= reservation.lab %></td>
        <td><%= reservation.name %></td>
        <td><%= reservation.number_of_samples %></td>
        <td><%= reservation.start_time.strftime('%H:%M') %></td>
        <td><%= reservation.end_time.strftime('%H:%M') %></td>
        <td><%= reservation.information %></td>
        <td><%= link_to '詳細', reservation, class: "btn btn-sm btn-info" %></td>
        <td><%= link_to '予約内容の変更', edit_icp_reservation_path(reservation), class: "btn btn-sm btn-warning" %></td>
        <td><%= link_to '削除', reservation, method: :delete, data: { confirm: '本当に削除してよろしいですか?' }, class: "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '戻る', cn_reservations_path %>
