<header class="navbar navbar-fixed-top navbar-inverse">
  <div>
  <%= link_to "共通機器予約システム", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "トップページ", root_path %></li>
        <li><%= link_to "共通機器予約システムとは",   about_path %></li>
        <li><%= link_to "ヘルプ",   help_path %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>